@reference "./globals.css";

.tool{
  @apply fixed left-[calc(50%-14px)] top-[0.5rem] bg-white w-auto h-auto animate-bounce;
}
.tool-group{
  @apply flex flex-col justify-center items-center;
}
.tool-item{
  @apply w-7 h-7 cursor-pointer;
}
